body {
  display: grid;
  grid-template-rows: auto 50px 1fr auto;
  grid-template-columns: 100%;
  gap: 1px;
  min-height: 100vh;
  font-family: "Monsterrat", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #add8e6;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  grid-row: 1 / 2;
  background: #add8e6;
  padding: 20px;
  text-align: center;
}

nav {
  grid-row: 2 / 3;
  background: #e0ffff;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border-radius: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

main {
  grid-row: 3 / 4;
  padding: 20px;
}

footer {
  grid-row: 4 / 5;
  background: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 0;
}

nav a {
  color: #007bff;
  text-decoration: none;
}

h2 {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  font-size: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

h3 {
  max-width: 1200px;
  font-size: 20px;
}

h1 {
  font-family: "Roboto", sans-serif;
  max-width: 1800px;
  font-size: 30px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  width: 50%;
}

a:link {
  color: #0000ff;
}

a:visited {
  color: #0056b3;
}

a:hover,
a:active {
  color: #ff0000;
  text-decoration: underline;
}

#Introduction article {
  display: grid;
  grid-template-columns: minmax(500px, 1fr) 1fr;
  gap: 20px;
}

#Introduction img {
  width: 100%;
  height: auto;
  grid-column: 2;
  object-fit: cover;
  justify-self: center;
}

#Introduction .text-content {
  grid-column: 1;
  font-size: 15px;
  max-width: 900px;
}

.attribution {
  font-family: "Monsterrat", Arial, sans-serif;
  font-size: 15px;
  max-width: 900px;
}

#Geography .text-content {
  grid-column: 1;
  font-size: 15px;
  max-width: 900px;
}

#Geography .content {
  display: grid;
  grid-template-columns: minmax(400px, 1fr) 1fr;
  gap: 20px;
}

#Geography img {
  width: 100%;
  height: auto;
  grid-column: 2;
  object-fit: cover;
  justify-self: center;
}

#Government .text-content {
  font-size: 15px;
  max-width: 900px;
}

#People .text-content {
  font-size: 15px;
  max-width: 900px;
}

#Tourism .text-content {
  font-size: 15px;
  max-width: 900px;
}

.text-content p,
.text-content h1,
.text-content h2,
.text-content h3 {
  max-width: 30em;
}

@media (max-width: 768px) {
  .text-content p,
  .text-content h1,
  .text-content h2,
  .text-content h3 {
    max-width: 100%;
  }
}
